@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
  
  .animate-slide-up {
    animation: slideUp 0.3s ease-out;
  }
  
  @keyframes slideUp {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 1.5rem;
      opacity: 1;
    }
  }
}

*{
  font-family: "Open Sans", sans-serif !important;
}

/* Hide leaflet routing machine attribution logos */
.leaflet-routing-container {
  display: none !important;
}

.leaflet-control-container .leaflet-routing-container {
  display: none !important;
}
